/* Global Styles */

* {
  font-family: "Roboto", Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

router-outlet + * {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1,
h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;

  text-decoration: none;
}

a,
.products-main- a {
  color: rgb(235, 175, 96);
}
a:hover,
.products-main- a:hover {
  color: rgb(235, 175, 96);
}
a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #bdbdbd;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button,
button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover,
button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}
.page-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}
.welcome-img {
  text-align: center;
  padding-top: 50px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

.navbar {
  background-color: rgb(235, 175, 96);
}
/* Checkout Cart, Shipping Prices */

.cart-item,
.shipping-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #eeeeee;
}

/** Nav CSS **/
.nav-bar {
  background: antiquewhite;
  padding: 0 15px;
}
.nav-bar .nav-item {
  display: inline-block;
  padding: 0 10px;
  background: transparent;
  color: darkslategrey;
  font-size: 20px;
}
.fa {
  margin-right: 5px;
  color: white;
}

/** Product Listing **/
.products-main {
  text-align: center;
  width: 50%;
  float: left;
  vertical-align: bottom;
}

/** Product Detail **/
.product-detail {
  padding: 20px;
  width: 70%;
  margin: auto;
}
.product-detail div {
  float: left;
  width: 40%;
}

/** Cart Style **/
.cart-msg {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
.cart-main {
  width: 70%;
  margin: auto;
}
a.checkout-button {
  padding: 10px;
  background: cyan;
  float: right;
  margin: auto;
}

.footer-section {
  background: rgb(235, 175, 96);
  padding: 15px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}
a {
  text-decoration: none !important;
}
.cart-subtotal {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
}
.container {
  min-height: 650px;
}

input.qty {
  width: 50px;
  margin: 0 20px;
  text-align: center;
  margin-bottom: 20px;
}
.cart-qty {
  height: 50px;
  width: 50px;
  text-align: center;
}
.search {
  margin-bottom: 25px;
}
.search label {
  margin-right: 15px;
  font-size: 16px;
}
button.qty-button {
  height: 40px;
  width: 40px;
  margin: 15px;
}

.login-form,
.checkout-form {
  max-width: 50%;
  margin: auto;
}
.form-group {
  margin-bottom: 15px;
}

.d-flex {
  display: flex !important;
  margin-bottom: 0;
}
li.nav-item a {
  color: white;
  padding: 20px;
}
li.nav-item {
  list-style: none;
}
li.nav-item button {
  background: no-repeat;
  color: white;
  display: inline-block;
  padding: 0px 10px;
}
.nav-item {
  display: inline-block;
}
.invalid-feedback span {
  color: #dc3545;
}

.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(235, 175, 96);
  border-color: rgb(235, 175, 96);
}
.btn-primary:hover {
  color: #fff;
  background-color: rgb(235, 175, 96);
  border-color: rgb(235, 175, 96);
}
.qty-button,
.checkout-button,
.form-group .btn,
.login-form .btn,
.product-info .btn {
  background-color: rgb(235, 175, 96) !important;
  color: white !important;
  border-color: rgb(235, 175, 96) !important;
}
a.home-nav.nav-item h3,
a.home-nav.nav-item h3 i,
.footer-section {
  color: white;
}
.products-main- img {
  width: 100px;
}
.product-img img {
  width: 250px;
}
